/******************************************************************************
     * Input bar		
******************************************************************************/

#input_bar {
	top: 30px;
	position: relative;
	width: 70%;
	margin: auto;
	display: flex; 
	flex-direction: column;
}

#input_bar .choices__list--dropdown {
	background: rgba(40, 40, 40, .7);
	border: 1px solid rgba(100, 100, 100, 1);
}

#input_bar .choices__heading {
	border-bottom: 1px solid rgba(100, 100, 100, 1);
}

#input_bar .choices__item {
	color: #FFF;
}

#input_bar .choices__item.is-highlighted {
	background: rgba(150, 150, 150, .5);
}

#input_bar button#validate, #input_bar button#reset {
	margin-left: 5px;
	padding: 12px 8px;
	font-size: 14px;
	width: 80px;
	background: #EB5D00;
}

#input_bar input[type="text"] {
	color: #000;
	border: none;
	background: none;
	display: inline-block
}

/* #input_bar>div {
	display: inline-block;
	vertical-align: top;
} */

#input_bar>div:first-child {
	width: 100%;
}

#input_bar .choices__inner {
	padding: 1.5px 4px;
}

#input_bar .choices__list--multiple .choices__item {
	border-radius: 15px;
	font-size: 12px;
	background-color: #EB5D00;
	border: 0px;
	color: #fff;
	word-break: break-all;
}

#input_bar .choices__button, #input_bar .choices__button:hover {
	padding: 0 0 0 10px;
	border-left: 0;
	background: none;
}

#input_bar span.choices__button {
	text-indent: -10px;
}

#input_bar .labacronym {
	color: #EB5D00;
	font-size: 10px;
}

#formula {
	color: #cac7c7;
	font-size: 13px;
	padding-top: 5px;
}

/* Container of searchbar and validate and reset buttons*/
#searchWidget{
	display: flex; 
	flex-direction: row;
}

/* The div containing the choices.js widget */
#searchBar{
	flex-grow: 1;
}