.noUi-value-large:last-child {
    display: none;
}

.noUi-value-large {
    transform: translate(-20px, 60%);
}


.noUi-marker-vertical.noUi-marker-large {
    width: 4px;
}

.noUI-target{
    width: 10px;
    border:none;
    box-shadow: none;
}

.noUI-draggable{
    background: #EB5D00;
    left:-2px;
    width: 14px;
}

.noUI-handle{
    border-radius: 2em;
    width:20px!important;
    height:20px!important;
    top:-10px!important;
    left:-5px!important;
}

.noUi-vertical .noUi-handle:after{
    
}

.noUi-handle:after {
    width: 8px!important;
    left: 5px!important;
    top: 7px!important;
}

.noUi-handle:before{
    left: 5px!important;
    width: 8px!important;
    top: 11px!important;
}

#behaviour{
    height:120px;
}

.noUi-value-large {
    color: #FFF;
}

.noUi-marker-large {
    background: #FFF;
    height: 1px !important;
}