.littleSpinner {
    width: 60px;
    text-align: center;
    display: inline-block;
    top: -2px;
    position: relative;
  }
  
  .littleSpinner > div {
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin-top: -10px;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .littleSpinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .littleSpinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
.noUi-value-large:last-child {
    display: none;
}

.noUi-value-large {
    transform: translate(-20px, 60%);
}


.noUi-marker-vertical.noUi-marker-large {
    width: 4px;
}

.noUI-target{
    width: 10px;
    border:none;
    box-shadow: none;
}

.noUI-draggable{
    background: #EB5D00;
    left:-2px;
    width: 14px;
}

.noUI-handle{
    border-radius: 2em;
    width:20px!important;
    height:20px!important;
    top:-10px!important;
    left:-5px!important;
}

.noUi-vertical .noUi-handle:after{
    
}

.noUi-handle:after {
    width: 8px!important;
    left: 5px!important;
    top: 7px!important;
}

.noUi-handle:before{
    left: 5px!important;
    width: 8px!important;
    top: 11px!important;
}

#behaviour{
    height:120px;
}

.noUi-value-large {
    color: #FFF;
}

.noUi-marker-large {
    background: #FFF;
    height: 1px !important;
}
#spinnerContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

.spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


#loadingTitle{

    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* padding-right: 20px; */
    position: relative;
    top:-10px;
}

#spinner2ndContainer{
    position: relative;
    left: -20px;
}
/******************************************************************************
     * Input bar		
******************************************************************************/

#input_bar {
	top: 30px;
	position: relative;
	width: 70%;
	margin: auto;
	display: flex; 
	flex-direction: column;
}

#input_bar .choices__list--dropdown {
	background: rgba(40, 40, 40, .7);
	border: 1px solid rgba(100, 100, 100, 1);
}

#input_bar .choices__heading {
	border-bottom: 1px solid rgba(100, 100, 100, 1);
}

#input_bar .choices__item {
	color: #FFF;
}

#input_bar .choices__item.is-highlighted {
	background: rgba(150, 150, 150, .5);
}

#input_bar button#validate, #input_bar button#reset {
	margin-left: 5px;
	padding: 12px 8px;
	font-size: 14px;
	width: 80px;
	background: #EB5D00;
}

#input_bar input[type="text"] {
	color: #000;
	border: none;
	background: none;
	display: inline-block
}

/* #input_bar>div {
	display: inline-block;
	vertical-align: top;
} */

#input_bar>div:first-child {
	width: 100%;
}

#input_bar .choices__inner {
	padding: 1.5px 4px;
}

#input_bar .choices__list--multiple .choices__item {
	border-radius: 15px;
	font-size: 12px;
	background-color: #EB5D00;
	border: 0px;
	color: #fff;
	word-break: break-all;
}

#input_bar .choices__button, #input_bar .choices__button:hover {
	padding: 0 0 0 10px;
	border-left: 0;
	background: none;
}

#input_bar span.choices__button {
	text-indent: -10px;
}

#input_bar .labacronym {
	color: #EB5D00;
	font-size: 10px;
}

#formula {
	color: #cac7c7;
	font-size: 13px;
	padding-top: 5px;
}

/* Container of searchbar and validate and reset buttons*/
#searchWidget{
	display: flex; 
	flex-direction: row;
}

/* The div containing the choices.js widget */
#searchBar{
	flex-grow: 1;
}
/******************************************************************************
     * CSS for the creadits	
******************************************************************************/

#credits {
    display: none;
    position: absolute;
    /* position: fixed; */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
#credits .modal-content {
    color: #000000;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 750px;
    height: 80%;
    overflow: scroll; /* Enable scroll if needed */
}

/* The Close Button */
#credits .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#credits .close:hover,
#credits .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#credits a {
    color: #EB5D00;
}

#credits h1 {
    font-size: 21px;
    font-weight: 800;
    margin: 80 0 20 0;
}

#credits h2 {
    font-size: 16px;
    font-weight: 800;
    margin: 30 0 10 0;
}

#credits h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 20 0 5px 0;
}
/******************************************************************************
     * Basic elements
******************************************************************************/

body, html {
	width: 100%;
	height: 100%;
	color: white;
	background: rgb(40, 40, 40);
	font-family: 'Arial' !important;
}

input:focus {
	box-shadow: none !important;
}

button {
	cursor: pointer;
}

button:disabled {
	background: #b1aca9!important;
	border-color: #b1aca9!important
}

/******************************************************************************
	 * Containers		
******************************************************************************/

.interface.bottom {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	height: 65px;
}

#container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#diagram, #legenda, #logo, #title {
	position: absolute;
	display: block;
}

/******************************************************************************
     * Diagram		
******************************************************************************/

#diagram {
	width: 100%;
	height: 100%;
	top: 0;
	right: -17px;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
}

/******************************************************************************
     * Toggle buttons for affinity activation		
******************************************************************************/

#toggle-btn {
	left: 10px;
	bottom: 50%;
	width: 150px;
	text-align: center;
	flex-grow: 1;
}

#toggle-btn div {
	text-align: left;
	margin-bottom: 8px;
}

#toggle-btn text {
	position: absolute;
	margin-top: 3px;
	margin-left: 8px;
}

/******************************************************************************
     * Legenda		
******************************************************************************/

#legenda {
	width: 100px;
	height: 100px;
	top: 0;
	right: 0;
	background-color: transparent;
	background-image: url(f4956ccd6e3a658c41a3496cbd25a1c4.png);
	background-size: 100px;
}

/******************************************************************************
     * Logo		
******************************************************************************/

#logo {
	position: absolute;
	top: 190px;
	left: 10px;
	background-color: transparent;
	background-image: url(6ef6b06150bac9fa91988f72f174dacd.svg);
	background-size: 250px;
	width: 250px;
	height: 45px;
	background-position: center;
}

#title {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	visibility: visible;
	color: #FFF;
}

/******************************************************************************
     * Access to the private page		
******************************************************************************/

div.loginout {
	position: absolute;
	left: 42.5%;
	font-size: 20px;
	top: 10px;
	border: 0;
	background-color: transparent;
}

.choiceIcon {
	position: relative;
	height: 12px;
	top: 2px;
}


/******************************************************************************
     * Fullextent		
******************************************************************************/

#fullextent {
	position: absolute;
	cursor: pointer;
	top: 7px;
	left: 7px;
	z-index: 10;
}

#fullextent a {
	display: block;
	width: 45px;
	height: 40px;
	background-image: url(5b6a13a4c625dcc8e28e94972cab5032.svg);
	background-size: 36px;
}


/******************************************************************************
     * fps counter
******************************************************************************/

#fps {
	display: inline-block;
	position: relative;
	width: 50px;
}

#fps * {
	border: 0 !important;
	background-color: transparent !important;
	line-height: 40px !important;
	height: 40px !important;
	font-size: 10px !important;
	padding: 0 !important;
	position: relative !important;
	text-shadow: none !important;
	top: 0 !important;
	left: 0 !important;
	text-align: left !important;
}

#fps div div:first-child::before {
	content: "(FPS " !important;
}
#fps div div:first-child::after {
	content: ")" !important;
}

#fps div div:last-child {
	display: none !important;
}

/******************************************************************************
 * styles for settings panel
******************************************************************************/

#displayConfigPanel {
	height: 300px;
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	transition: 0.5s;
	overflow: hidden;
	background-color: rgba(30, 30, 30, 0.8);
}

#displayConfigPanel.closed {
	height: 40px;
	padding-top: 0px;
	visibility: visible;
}

#dcpCloseBtn {
	position: absolute;
	right: 10px;
	top: 10px;
}

.tgl-btn {
	display: inline-block!important;
}

.tgl+.tgl-btn {
	height: 1.3em!important;
	width: 2.5em!important;
}

.tglBtnContainer>text {
	position: absolute;
	margin-left: 10px;
	font-size: 12px;
	display: inline-flex;
}

#displayConfigPanel>div>div>h3 {
	font-size: 12px!important;
}

#dcpOpenBtn {
	right: 4px;
	position: absolute;
	background-image: url(70960e49fe8fc9b59e8f84da17d67e09.svg);
	top: 4px;
	height: 35px!important;
	width: 35px;
	transition: 0.5s;
	cursor: pointer;
}

#dcpOpenBtn.closed {
	transition: 0.5s;
	background-image: url(2ca354ed68f7ac8add8eb104e3421301.svg);
	top: 3px;
	visibility: visible;
}

#header {
	height: 35px!important;
}

/******************************************************************************
 * content for settings panel
******************************************************************************/

#dcpContainer {
	height: 150px!important;
	display: flex;
	position: relative;
	top: 20px;
	z-index: 1;
}

#dcpContainer h3 {
	font-size: 12px;
	letter-spacing: .05em;
	margin: 0 0 15px 0;
	font-weight: 600;
}

#dcpContainer #explanation {
	flex-grow: 1;
	width: 150px;
	max-width: 50%;
	padding: 0 10px;
}

#dcpContainer #explanation>#shortAbout {
	margin: 0 0 10px;
	font-size: 12px;
}

#dcpContainer #explanation>#about {
	margin-top: 22px;
}

#dcpContainer #controls {
	flex-grow: 4;
}

#dcpContainer #controls {
	display: flex;
	flex-flow: row;
}

#dcpContainer #controls>div {
	flex-grow: 1;
	padding: 0 10px;
	border-left: 1px solid #666666;
	font-size: 12px;
	font-weight: 400;
}

#dcpContainer #explanation a {
	text-decoration: underline;
	color: #EB5D00;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
}

#dcpContainer #explanation p {
	margin-bottom: 1px;
}

#dcpContainer #explanation button.asLink {
	background: none!important;
	border: none;
	padding: 0!important;
	font: inherit;
	cursor: pointer;
	color: #EB5D00;
	text-decoration: underline;
	font-size: 12px;
}

#title>div.titleAndSpinner {
	position:relative;
	left:-28px;
}
input[type=checkbox] {
	display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-ios + .tgl-btn {
  background: #888;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  /* border: 1px solid rgb(60, 60, 60); */
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fff;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5), 0 4px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5), 0 4px 0 rgba(0, 0, 0, .2);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  -webkit-box-shadow: inset 0 0 0 2em #e8eae9;
          box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #EB5D00;
}
.tgl-ios:checked + .tgl-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

div#toggle-btn label {
	display: inline-block;
}
